<p>
  module works!
</p>

<p>Selected Module Id: {{ selectedModuleId }}</p>

<table>
  <caption>
    Modules:
  </caption>
  <thead>
    <th *ngFor="let columnName of moduleTableColumnNames">
      {{ columnName }}
    </th>
  </thead>
  <tbody>
    <tr
      (click)="getModuleId(module.moduleId)"
      *ngFor="let module of modules"
      class="cursor"
    >
      <td>{{ module.id }}</td>
      <td>{{ module.name }}</td>
      <td>{{ module.moduleId }}</td>
      <td>{{ module.createdBy }}</td>
      <td>{{ module.createdOn | date }}</td>
      <td>{{ module.modifiedBy }}</td>
      <td>{{ module.modifiedOn | date }}</td>
    </tr>
  </tbody>
</table>
